.pagematerial b {
    text-decoration: none;
    font-weight: 700;
}

.pagematerial a {
    color: #DB7093;
    text-decoration: none;
    font-weight: 400;
}

.pagematerial a:hover {
    cursor: pointer;
    color: purple;
}

.photobounded {
    width: 90%;
    max-width: 300px;
}

.title {
    width: 100%;
    float: none;
}

.material {
    width: 100%;
}

.pagematerial {
    max-width: 800px;
    font-weight: 400;
    margin: auto;
}

@media only screen and (min-width: 700px) {
    .name {
        width: 60%;
        float: left;
        height: 75px;
        text-align: left;
    }
    
    .navigation {
        width: 40%;
        float: right;
        height: 75px;	
        text-align: right;
    }
    
    .photo {
        width: 25%;
        float: left;
    }
    
    .photo-nothome {
        width: 30%;
        float: left;
    }
    
    .first-section {
        width: 75%;
        float: right;
        margin-bottom: 20px;
    }
    
    .second-section {
        width: 100%;
        float: none;
        clear: both;
        margin-top: 20px;
    }
    
    .caption {
        font-size: 18px;
    }
    
    body {
        font-family: 'Raleway', Arial, sans-serif;
        font-size: 16px;
    }
    
    h3 {
        padding-top: 15px;
        font-weight: 500;
        font-size: 24px;
    }
}

@media only screen and (max-width: 700px) {
    .navigation {
        margin-top: -25px;
    }
    
    .photo {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 60%;
    }
    
    .photo-nothome {
        display: none;
    }
    
    .caption {
        display: none;
    }
    
    .first-section {
        width: 100%;
        float: none;
        margin-bottom: 20px;
    }
    
    .second-section {
        width: 100%;
        float: none;
        clear: both;
        margin-top: 20px;
    }
    
    body {
        font-family: 'Raleway', Arial, sans-serif;
        font-size: 15px;
    }
    
    h3 {
        padding-top: 15px;
        font-weight: 500;
        font-size: 20px;
    }
}

h1 {
    font-size: 30px;
    font-weight: 500;
}