<!DOCTYPE html>
<html>
  <head>
  	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-164960443-1"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-164960443-1');
	</script>
	<link rel="stylesheet" href="index.css">
    <link href="https://fonts.googleapis.com/css?family=Arial:400,400i,500,500i,700" rel="stylesheet">
 	<meta name="google-site-verification" content="3HqwN4yVhcpcO5Tw3cBMnuju6q6_Xu3QaVSBZ7Xo9No"/>
 	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meena Jagadeesan</title>
  </head>

	<body>
		<div class="pagematerial">
			<div class = "title">
				<div class="name">
				  	<h1><span style="font-size:30px; vertical-align: middle">Meena Jagadeesan</span></h1>
				</div>
				<div class="navigation">
				  <h1>
				  	<span style="font-size:18px; vertical-align: middle">
				  		<a href='index.html'>Home</a>
				  		&nbsp &nbsp 
				  		<a href='index.html#papers'>Papers</a>
				  		&nbsp &nbsp
				  		<a href='index.html#awards'>Awards</a>
				  	</span>
				  </h1>
				</div>
			</div>
			<div class = "material">
				{{ content }}
			</div>
		</div>
	</body>
</html>